# User-specific configurations
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml

*.iml
.gradle
/local.properties
*/.idea
.DS_Store
/build
/captures
/.idea
/threads/src/main/assets/crashlytics-build.properties
/threads/src/main/res/values/com_crashlytics_export_strings.xml

/fastlane/report.xml