<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="im.threads.android">

    <permission
        android:name="${applicationId}.permission.pushserver.RECEIVE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="${applicationId}.permission.pushserver.RECEIVE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".core.ThreadsDemoApplication"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name1"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation"
            android:theme="@style/BottomNavigationTheme"/>

        <!-- Default implementation can be used instead (see im.threads.push.ThreadsPushBroadcastReceiver) -->
        <receiver
            android:name="im.threads.android.broadcastReceivers.CustomPushBroadcastReceiver"
            android:exported="false"
            android:permission="${applicationId}.permission.pushserver.RECEIVE">
            <intent-filter>
                <action android:name="com.pushserver.android.NEW_PUSH_MESSAGE_EVENT"/>
                <action android:name="com.pushserver.android.RECEIVER_CHANGED_EVENT"/>
                <action android:name="com.pushserver.android.DEVICE_ADDRESS_CHANGED_EVENT"/>
                <action android:name="com.pushserver.android.HAS_SECURED_MESSAGE"/>
                <action android:name="com.pushserver.android.ERROR_EVENT"/>
            </intent-filter>
        </receiver>

        <service
            android:name="im.threads.android.services.CustomPushServerIntentService"
            android:exported="false"/>

        <meta-data
            android:name="com.pushserver.android.providerUid"
            android:value="PH5AckgzOkBXSEMqRC4sJkBBUl0uX0A8PSxARGVyaiZAViZ0ZyQzfj4K" />

        <meta-data
            android:name="im.threads.getServerUrl"
            android:value="@string/datastore_url" />

        <meta-data
            android:name="im.threads.threadsGateUrl"
            android:value="@string/threadsGateUrl"/>

        <meta-data
            android:name="im.threads.threadsGateProviderUid"
            android:value="@string/threadsGateProviderUid"/>

        <meta-data
            android:name="im.threads.threadsTransportType"
            tools:replace="android:value"
            android:value="@string/transport_type"/>

        <!-- Default implementation can be used instead (see im.threads.push.ThreadsPushServerIntentService) -->
        <meta-data
            android:name="com.pushserver.android.service"
            tools:replace="android:value"
            android:value="im.threads.android.services.CustomPushServerIntentService"/>

        <meta-data
            android:name="com.pushserver.android.logs"
            android:value="true"/>

    </application>

</manifest>
